%li
  %small=link_to city.name, "http://www.fuelprices.gr/CheckPrices?DD=#{city.code}&prodclass=1"
  %span
    %small="(#{city.code})"
%li    
  %span
    %strong Location
    %span=" (Lat:#{city.location[0]}, Lon:#{city.location[1]})"